:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #1f1f1f;
  background: #fff;
}

body {
  min-width: 320px;
  min-height: 100vh;
  margin: 0;
}

h1 {
  font-size: 2rem;
  line-height: 1.2;
  font-weight: 600;
}
